# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL = "postgresql://neondb_owner:*****************.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

NODE_ENV = "development"
AUTH_SECRET = **********************************************************************
NEXT_PUBLIC_API_BASE_URL = http://localhost:3000

# Auth0 credentials for NextAuth
GITHUB_CLIENT_ID = ***************
GITHUB_CLIENT_SECRET = ****************************************
GOOGLE_CLIENT_ID = ************-********************************.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = *****-***********************************************

# Resend API key
RESEND_API_KEY = your_resend_api_key_here

RESEND_FROM_EMAIL = ****************
NEXT_PUBLIC_APP_NAME = "Chat App"

# for Encryption of verification code
ENCRYPTION_KEY = "your_encryption_key_here"
EMAIL_TOKEN_EXPIRATION_TIME = "in_HOURS"
CHAT_API_URL = "your_chat_api_url_here"
INTERNAL_API_KEY = "your_internal_api_key_here"
ACCESS_TOKEN_SECRET = "your_access_token_secret"
NEXT_PUBLIC_SUPPORT_EMAIL = "enteryour@supportemail.com